body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kittenAttr {
  background-color: lavender;
  font-size: 20pt;
  width: 250px;
  margin: 10px;
  padding: 10px;
  }

body {
  font-family: Times, sans-serif;
  background-color: deeppink;
}

div {
  margin: 5px;
  background: lightgreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 6px purple
}

h1 {
  color: yellow;
}


input {
  background-color: lavender;
  font-size: 20pt;
  width: 200px;
  margin: 10px;
  padding: 8spx;
}
